
body {
   background-color:bisque;
   vertical-align: middle;

}
 .header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 1px solid black;
    background-color: antiquewhite;
 } 
 .nav-item >ul {
    list-style-type: none;
    display: flex;
 }

 .card {
   width: 220px;
   border: 1px solid black;
   margin: 10px;
 }

 .card > img {
   width: 100%;
   
 }

 .nav-item > ul > li{
    padding: 10px;
 }
 .img {
        height:80px;
        width: 100px;
        padding-left: 30px;
        margin-top: 0px;
        margin-bottom: 0px;   
    }

 .restList{
   display: flex;
   flex-wrap: wrap;
   justify-content:flex-start;
 }   

